//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
$primary-color: #8BE028;
$secondary-color: #497614;
$tertiary-color: #FF9A56;
$black: #1C1C1C;
